@model LoginVM

@{
    ViewData["Title"] = " Giriş Yap";
    Layout = "_LayoutLogin";
}

<form class="login100-form validate-form" asp-controller="Authorization" asp-action="Login" method="post">
    <div class="login100-form-avatar">
        <img src="~/OtherPages/images/COY.png" alt="Social Media">
    </div>
    <span class="login100-form-title p-t-20 p-b-45">
        Sosyal Medya Platformu
    </span>
    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" type="text" placeholder="E-Posta" asp-for="Mail">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-user"></i>
        </span>
        <span asp-validation-for="Mail"></span>
    </div>
    <div class="wrap-input100 validate-input m-b-10">
        <input class="input100" type="password" placeholder="Şifre" asp-for="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock"></i>
        </span>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="container-login100-form-btn p-t-10">
        <button class="login100-form-btn">
            Giriş Yap
        </button>
    </div>

    <div class="text-center w-full p-t-25 p-b-230">
        <a href="#" class="txt1">
            Şifremi Unuttum
        </a>
    </div>

    <div class="text-center w-full">
        <a class="txt1" href="/Authorization/Register">
            Yeni Hesap Oluştur
            <i class="fa fa-long-arrow-right"></i>
        </a>
    </div>
</form>