@{
    ViewData["Title"] = " Anasayfa";
}

<section class="content">
    <div class="card">
        @*<div class="card-header">
            <h3 class="card-title">Anasayfa</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Küçült">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Kapat">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>*@
        <div class="card-body">
            Hello Word
        </div>
    </div>
</section>